
Practise/.vs/Practise/v16/.suo
Practise/.vs/Practise/v16/TestStore/0/testlog.manifest
Practise/.vs/Practise/DesignTimeBuild/.dtbcache.v2
Practise/.vs/Practise/v16/TestStore/0/000.testlog
Practise/BL/obj/BL.csproj.nuget.dgspec.json
Practise/BL/obj/Debug/netcoreapp3.1/BL.assets.cache
Practise/Practise/obj/Debug/netcoreapp3.1/Practise.exe
Practise/Practise/obj/Debug/netcoreapp3.1/Practise.assets.cache
Practise/UnitTest/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
Practise/UnitTest/obj/Debug/netcoreapp3.1/UnitTest.assets.cache
Practise/UnitTest/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
